.summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.product-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
}

.standard-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
